In [1]:
import pandas as pd

In [3]:
wc_df = pd.read_csv('data/world_cities.csv', index_col=0)
wc_df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [4]:
wc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 249
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City / Urban area    249 non-null    object
 1   Country              249 non-null    object
 2   Population           249 non-null    int64
 3   Land area (in sqKm)  249 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.8+ KB

In [26]:
countries = wc_df['Country'].value_counts()

In [27]:
countries

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

In [29]:
countries[countries == 4]

Italy    4
Name: Country, dtype: int64