In [1]:
import pandas as pd

In [2]:
laptops_df = pd.read_csv('data/laptops.csv')

In [3]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [4]:
laptops_df['brand'].unique() # 겹치는 것을 제외하고 Series 출력

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [5]:
laptops_df['brand'].value_counts() # 개수 출력

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [6]:
laptops_df['brand'].describe() # 통계출력

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object